.pokedex {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: lightblue;
}

.pokedex--title {
  font-family: pokemon;
  font-size: 80px;
}
